

* {
    box-sizing: border-box;
}
/*::after =>가상클래스 (.row 이후에 테이블로 모양을 잡아준다(위아래의 위치))
!!참조)https://www.w3schools.com/css/css_rwd_grid.asp*/
.row::after {
    content: "";
    clear: both;
    display: table;
}

/* 모든클래스중에서 클래스명에 col- */
[class*="col-"] {
    float: left;
    padding: 15px;
}

html {
    font-family: "맑은 고딕", sans-serif;
}
.bg-video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    /* min-height: 900px; */
    opacity: 0.15;
    z-index: -1000;
    overflow: hidden;
}
.img{
    width: 100%;
}
.header {
    background-color: rgb(200, 200, 200);
    opacity: 0.5;
    color: #000;
    text-align: center;
    padding: 5px;
}
.navbar {
    background-color: #303030;
    color: #140e0e;
    /* margin-top: 15px; */
    text-align: right;
    padding: 15px;
    /* border-radius: 15px 15px 15px 15px; */
}

.drpDown{
    position: relative;
    display: inline-block;
    width: 130px;
    

}
.drpDown-content{
    background-color: #303030;
    display: none;
    position: absolute;
    z-index: 1;
}
.drpDown-content a{
    padding: 5px;
    text-decoration: inherit;
    color: #fff;
    display: block;
}
.drpDown:hover .drpDown-content{
    display: block;
    top:25px;
}
.drpDown-content a:hover{
    background-color: #606060;
}

.needClick{
    cursor:pointer;
}

.row {
    margin-top: 50px;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu li {
    padding: 8px;
    margin-bottom: 7px;
    background-color: #757575;
    color: #ffffff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.menu li:hover {
    background-color: #454545;
    cursor:pointer;
}

.aside {
    background-color: #afafaf;
    padding: 15px;
    color: #ffffff;
    text-align: center;
    font-size: 14px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.footer {
    background-color: #454545;
    color: #ffffff;
    text-align: center;
    font-size: 12px;
    padding: 15px;
}

/* For mobile phones: */
[class*="col-"] {
    width: 100%;
}

@media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
}
@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}